body {
  background-color: #282c34;
  color: white;
}

.App-container {
  min-width: 100vw;
}

.App {
  min-height: 100vh;
  /* background-color: rgba(255, 255, 255, .5); */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: .5rem;
  grid-column: 1 / span 2;
}

.main-screen {
  /* padding: .2rem; */
  border-radius: .4rem;
}
